body,
input,
select,
label {
	font-family: 'Segoe UI', sans-serif;
}

#menu {
	margin: 0;
	top: 0;
}

input[type="submit"] {
	background-color: #f4f4f4;
	padding: 5px;
}

input,
select {
	height: 25px;
	line-height: 1;
	border: 1px solid #ccc;
	margin: 0 2px;
	outline: none;
}

input[type="checkbox"] {
	height: auto;
}

select {
	position: relative;
	top: 2px;
}

table {
	font-size: 100%;
}
