body,
input {
	font-family: 'Segoe UI', sans-serif;
}

#menu {
	margin: 0;
	top: 0;
}

input[type="submit"] {
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	padding: 5px;
}

table {
	font-size: 100%;
}
